@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Created by:</p>
<p>@ViewData["Email"]</p>


<address>
    <strong>
        More information: 
    </strong><a href="https://github.com/henrizx">GitHub.com </a>

</address>